doctype 5
html(ng-app)
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content