body {
  padding-top: 10px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}

textarea {
  resize: none; 
}

#content > div {
  margin-top: 10px;
}

#avatar img {
  border: 2px solid #eee;
}

header {
  border-bottom: 1px dotted #eee;
}

footer {
  border-top: 1px dotted #eee;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 0.7em;
  line-height: 0.5em;
  color: #777;
  -webkit-font-smoothing: antialiased;
}