body {
  padding-top: 10px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  color: #333333;
  font-family: 'Neuton', serif;
  word-wrap: break-word;
}

h1 {
  font-size: 2.5em;
}

textarea {
  resize: none; 
}

#content > div {
  margin-top: 10px;
  font-size: 1.2em;
}

#avatar img {
  border: 2px solid #eee;
}

header {
  border-bottom: 1px dotted #eee;
}

footer {
  border-top: 1px dotted #eee;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 0.8em;
  line-height: 1.2em;
  color: #777;
  -webkit-font-smoothing: antialiased;
}

footer > p {
  margin: 2px;
}